/* Sticky footer styles
-------------------------------------------------- */

#body_iframe {
  font-size: 14px;
  clear: both;
  /* Margin bottom by footer height */
  margin-bottom: 80px;
  margin-top: 55px;
  background-color: #1f1f1f;

}

img.logo {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 180px;
    height: auto;
    }

#footer_iframe {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  padding-right: 28px;
  padding-top: 15px;
  padding-left: 15px;

}

#nav_iframe {
  padding-right: 10px;
  padding-left: 5px;
  background-color: black;
  }

  .navbar-inverse .navbar-nav > li > a {
  color: #B3BAC1;
  }

  .navbar-inverse .navbar-nav > li > a:hover {
  color: #ffffff;
  background-color: #282A2D;
  }
  .navbar-inverse .navbar-nav > li > a:focus {
    color: #E5A00D;
    background-color: #282A2D;
  }
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
    color: #E5A00D;
    background-color: #282A2D;
  }

#avatar {
  margin: -14px 5px -14px 0px;
  max-width: 40px;
  height: auto;
  background-color: black;

}

.img-circle {
  width : 40px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: black;

}

#avatar:hover, #avatar:focus{
  box-shadow: 0 0 0 2px #E5A00D;
}


#server-status-msg {
  color: #E5A00D;
		}

#container_iframe {
  top: 60px;
  bottom: 70px;
  width: 100%;
  position: absolute;
  overflow:hidden;
  background: #1f1f1f;
    }

#iframe {
  height: 100%;
  width: 100%;
  overflow:hidden;
  border: none;
}

#stats {
  font-size: 11px;
}

#logged {
  font-size: 12px;
}


  @media only screen and (max-width: 1040px) {
    #stats {
      font-size: 0px;
    }

     #logged {
      font-size: 0px;
    }

   #footer_iframe {
     font-size: 14px;
     height: 50px;
   }
   #container_iframe {
     bottom: 50px;
       }
  }
